<html>

<head>
  <meta charset="UTF-8">
  <title>Recipe Nook</title>
  <script src="https://developer.edamam.com/attribution/badge.js"></script>
  <link rel="stylesheet" href="/public/css/jass.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
            &#127881 Hello World! &#127881
            </h1>
        
        <a href="/">homepage</a>
        <a href="/login">login</a>
        <a href="/signup">signup</a>

        </header>
        <main class="container container-fluid mt-5">
        {{{ body }}}

        </main>
    </div>      

  </body>

</html>