<head>
  <meta charset="UTF-8">
  <title>Recipe Nook</title>
  <script src="https://developer.edamam.com/attribution/badge.js"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
            &#127881 Hello World! &#127881
            </h1>
        </header>
        <main class="container container-fluid mt-5">
        {{{ body }}}

        </main>
    </div>

    <div class="container">
        <form class="form" id="login">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Username or email">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            
            <button class="form__button" type="submit">Continue</button>

            <p class="form__text">
                <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>
        </form>

        <form class="form form--hidden" id="createAccount">
            <h1 class="form__title">Create Account</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Email Address">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Confirm password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
            </p>
        </form>
    </div>

{{!-- </body> --}}

  {{!-- <div class="flex-column min-100-vh">
        <header class="hero">
        <h1 class="app-title"> My Recipe Nook</h1>
        </header>
       
        <aside class="aside"  >
            <div class=".col-4">
              <div class="card" style="width: 22rem;" >
                <h3 class="card-header text-uppercase">What should I make for dinner tonight!?</h3>
                <form id="user-form" class="card-body">
                  <input id="keyword" type="text" autofocus="true" class="form-input" placeholder="I'm craving..."/>
                  <button type="submit" id="search-btn">Search</button>
                </form>
              </div>
    <main class>
          
            <h2>Suggestions for you:</h2>
            <div class id="recipeResults .col-8" >

            
          </div>  --}}

  {{!-- <footer><div id="edamam-badge" data-color="white"></div></footer> --}}
  </body>






      