  <div class="flex-column min-100-vh">
        <header class="hero">
        <h1 class="app-title"> Welcome to {{signupUsername}}'s' Recipe Nook</h1>
        </header>
        <div class="row">
            <div class=".col-4">
              <div class="card" style="width: 22rem;" >
                <h3 class="card-header text-uppercase">What should I make for dinner tonight!?</h3>
                <form id="user-form" class="card-body">
                  <input id="keyword" type="text" autofocus="true" class="form-input" placeholder="I'm craving..."/>
                  <button type="submit" id="search-btn">Search</button>
                </form>
              </div>
            </div>
        </div>
            <div class="row"></div>
            <div class id="recipeResults .col-8" >
              <h2>Suggestions for you:</h2>
              <div class="card" style="width: 18rem;">
                {{!-- //image: --}}
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Recipe Label</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ingredientLines</li>
                <li class="list-group-item">dishType</li>
                <li class="list-group-item">cuisineType</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">uri</a>
              </div>
            </div>
              
          </div>
        </div>
          
  
   <div class=".col-6">
     <h1>My Favorite Recipes</h1>

   </div> 
  </div>

  
  <footer><div id="edamam-badge" data-color="white"></div></footer>
  <script src="/public/js/addRecipe.js"></script>

