</body> --}}

  <div class="flex-column min-100-vh">
        <header class="hero">
        <h1 class="app-title"> My Recipe Nook</h1>
        </header>
       
        <aside class="aside"  >
            <div class=".col-4">
              <div class="card" style="width: 22rem;" >
                <h3 class="card-header text-uppercase">What should I make for dinner tonight!?</h3>
                <form id="user-form" class="card-body">
                  <input id="keyword" type="text" autofocus="true" class="form-input" placeholder="I'm craving..."/>
                  <button type="submit" id="search-btn">Search</button>
                </form>
              </div>
    <main class>
          
            <h2>Suggestions for you:</h2>
            <div class id="recipeResults .col-8" >

            
          </div>  

  <footer><div id="edamam-badge" data-color="white"></div></footer>