body, html {
    background-image: url(../img/cooking_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: beige;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    text-decoration-color: black;
}

header {
    text-decoration: wavy;
}

main {
    
}

.card {
    border: 2px;
    border-color: black;
    margin: 2px;
}