body {
    background-image: url(../img/cooking_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: beige;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    text-decoration-color: black;
    padding-top: 260px;
}

header {
    text-decoration: wavy;
    color: crimson;
    padding-bottom: 20px;
}

a {
    padding-right: 20px;
}

p {
    font-weight: bold;
    font-size: large;
}

p1 {
    font-size: medium;
}

footer {
    padding-top: 15px;
}